*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}

.navbar a{
    display: inline-block;
    position: relative;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition:  0.4s all ease;
}
.navbar a{
    color: white;
    margin: 1rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover{
    color: #cdcdcd;
    transition: 0.4s all ease;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scale(0);
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #0051ff;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.navbar a:hover::after {
    transform: scale(1);
    transform-origin: bottom left;
}

header a i{
    display: flex;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

header a i:hover{
    transform: scale(1.2);;
}

body {
    width: 100%;
    min-height: 100vh;
}

section{
    width: 100%;
    height: 100vh;
    position: relative;
}

section .background-section {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

section .background-section video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

section .box{
    width: 50%;
    height: 100%;
    position: relative;
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 0, 0, 2.0), transparent);
    display: flex;
    align-items: center;
    justify-content: center;
}

section .box .conteudo{
    width: 80%;
}

section .box img{
    width: 80%;
    min-width: 300px;
}

section .box p{
    margin-top: 2rem;
    color: white;
    font-size: 15px;
    line-height: 32px;
}


.hero-img img{
    position: absolute;
    left: 900px;
    width: 890px;
    transition: 0.5s ease;
    scale: 1.8;
}

.hero-img img:hover{
    scale: 2.1;
    cursor: pointer;
}

@media screen and (max-width: 1024px){
    section .box{
        width: 100%;
        padding: 2%;
        background: rgba(0, 0, 0, 0.4);
    }
    
    section .box .conteudo{
        width: 80%;
    }
}

button{
    margin: 1rem;
    background: transparent;
    text-decoration: none;
    border: 2px solid white;
    cursor: pointer;
}

button {
    padding: 0.8em 1.8em;
    border: 2px solid #0051ff;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #0051ff;
}

button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #0051ff;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 105%;
}

button:hover {
    color: #111;
}

.container img{
    align-items: center;
    width: 100%;
}
.container p{
    position: absolute;
    bottom: 2rem;
    color: white;
    padding: 250px;
    right: 2rem;
}